%article
  .header
    %header
      %h2= 'About'

  .body
    .section
      %h3 略歴
      %p
        中学の頃からウェブサイトのコーディングをはじめる。大学に入り、プログラミングをはじめる。
        %br
        慶応義塾大学環境情報学部卒（萩野服部研究室）。
      %p
        株式会社groovesに入社し、Ruby on Railsを使ったアプリケーション開発に従事したのち、2011年1月に株式会社garbsに入社。
        %br
        = link_to 'Social Job Posting', 'http://socialjobposting.com/'
        や
        = link_to 'Forkwell', 'https://forkwell.com'
        のサーバー構築・設計・コーディングをする。

    .section
      %h3 できること
      %p ウェブアプリケーションの構築全般
      %dl
        %dt サーバー
        %dd Amazon Web Services、Herokuなど
        %dt プログラミング言語
        %dd Ruby, JavaScript(CoffeeScript)
        %dt マークアップ言語
        %dd HTML(Haml), CSS(Sass, LESS)
        %dt フレームワーク
        %dd Ruby on Rails
