- @articles.each do |article|
  %article
    .header
      %header
        %h2= article.title
    .body
      = simple_format article.body
    .footer
      %footer
        %p.right= l article.published_at

= paginate @articles
