.page-header
  h2
    font-size: 1.7em
    +border-bottom-shadow(.1, 1)

article
  width: 500px
  margin: 0 0 50px
  .header
    margin: 0 0 20px
    padding: 0 0 5px
    +border-bottom-shadow(.1, 1)

    h2
      font-size: 1.5em
      font-weight: bold
      a
        color: $base-text
        text-decoration: none
        +transition-duration(.2s)
        &:hover
          color: darken($base-text, 20%)
  .body
    .section
      h3
        font-size: 1.3em
        padding: 0 0 5px
        +border-bottom-shadow(.1, .7)
    p
      margin: 2em 0
      line-height: 1.6
    dl
      dt
        font-weight: bold
        margin: 4px 0
      dd
        margin: 8px 0 12px 8px
  .footer
    p.left
      float: left
    span.tag
      font-size: 0.8em
      padding: 3px 5px
      +border-radius(3px)
      +box-shadow(rgba(0, 0, 0, .1) -1px 1px 2px inset, rgba(255, 255, 255, 1) -1px 1px 0)
      background-color: $sub-yellow
      +transition-duration(.2s)
      &:hover
        background-color: lighten($sub-yellow, 10%)
      a
        color: white
        text-decoration: none
        +ts-000(.3)

form.new_article
  dl
    margin: 1em 0
    dt
      font-size: 1.2em
    dd
      input, textarea
        width: 500px
